<nav>
  <div class="site-title">
    <a href="/"><h1>VoIP Manager</h1></a>
    <p>Dect Voip Station Manager</p>
  </div>
  <ul>
    <li><a href="/">Devices</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/about">Scan Network</a></li>
    <li><a href="/devices/create">New Device</a></li>
  </ul>
</nav>